@model Transfer

@{
    ViewBag.Title = "Transfer Funds";
}

<div>
    <h1> Transfer Funds</h1>
</div>

@using( Html.BeginForm())
{
<div class="row">
    <span>From Account<span/>   @Html.DropDownListFor((model => model.FromAccountNumber), (IEnumerable<SelectListItem>)ViewBag.AccountDetails, string.Empty)
    <span>To Account<span/>   @Html.DropDownListFor((model => model.ToAccountNumber), (IEnumerable<SelectListItem>)ViewBag.AccountDetails, string.Empty)
        <span>Amount to Transfer</span> @Html.TextBoxFor((model => model.AmountDebited))
    &nbsp;<button type="submit">Transfer</button>
        @Html.ValidationSummary(false, "", new { @class = "text-danger"})
</div>

}