@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Banking App</h1>
    <br />
    <p>View all accounts  &nbsp; <b>  <a asp-controller="Account" asp-action="Index">here</a></b> </p>
        <br />
    <p>Initiate all transfer &nbsp;<b><a asp-controller="TransferFunds" asp-action="Index">here</a> </b></p>
        <br/>
    <p>view all transactions &nbsp;<b><a asp-controller="Transaction" asp-action="Index">here</a> </b> </p>
   

</div>
