@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to banking app</h1>
    
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Index">View all accounts<b>here</b></a>
        <br />
    <a class="nav-link text-dark" asp-controller="TransferFunds" asp-action="Index">Initiate all transfer<b>here </b> </a>
        <br/>

        <a class="nav-link text-dark" asp-controller="Transaction" asp-action="Index">view all transactions<b>here </b> </a>
   

</div>
